<template>
  <div class="input-group mb-3">
    <input class="form-control" v-model="search" placeholder="Search" />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" @click="update">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: "",
    }
  },
  methods: {
    update() {
      this.$emit("input", this.search || null)
    },
  },
}
</script>

<style scoped>
.input-group {
  max-width: 300px;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.btn-outline-secondary:focus {
  outline: none;
  box-shadow: none;
}
</style>
