<template>
  <div>
    <div v-for="{ id, title, description } in courses" :key="id">
      <a class="title" href="#">{{ title }}</a>
      {{ description }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    search: { type: String, default: null },
  },
  data() {
    return {
      courses: [],
    }
  },
  watch: {
    search: {
      handler() {
        this.load()
      },
      immediate: true,
    },
  },
  methods: {
    load() {
      const params = { search: this.search }
      axios.get("/api/courses", { params }).then(res => (this.courses = res.data.data))
    },
  },
}
</script>

<style scoped>
.title {
  display: block;
  font-size: 1.4em;
}
</style>
