<template>
  <div class="container">
    <div class="dashboard-header">
      <h1>Dashboard</h1>
      <search-input v-model="search"></search-input>
    </div>
    <h2>Professions</h2>
    <profession-index :search="search"></profession-index>
    <h2>Courses</h2>
    <course-index :search="search"></course-index>
  </div>
</template>

<script>
import ProfessionIndex from "@/components/Profession/Index"
import CourseIndex from "@/components/Course/Index"

export default {
  components: {
    ProfessionIndex,
    CourseIndex,
  },
  data() {
    return {
      search: null,
    }
  },
}
</script>

<style scoped>
.dashboard-header {
  display: flex;
  justify-content: space-between;
}
</style>
